node_modules
npm-debug.log
dist
.tmp
.sass-cache
bower_components
platforms
plugins/
plugins/ios.json
.DS_Store
releases/
screenshots/
localConfig.json
flatastic-app.sublime-*
.idea
ionic.config.json
.gradle
temp
google-services.json
GoogleService-Info.plist
vendor
